<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Profile image:</strong>
  <%= image_tag attachment_url(@user, :profile_image, :fill, 300, 300, format: "jpg") %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
